body {
  background-color: var(--white);
}
.header {
  box-shadow: var(--boxShadow);
}
main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  
}
.pic {
  height: 15rem;
  width: 15rem;
  background: url(../img/joyce-mccown-gpiKdZmDQig-unsplash.jpg);
  background-size: contain;
  border-radius: 50%;
  box-shadow: var(--dBoxShadow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
  animation: 2.75s;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem 0;
  max-width: 80%;
  animation: 2.75s;
}
.info > p {
  color: #444;
  max-width: 86%;
  margin: 0.5rem 0;
  text-align: center;
}
.desc {
  line-height: 1.5rem;
}
#photo {
  border-radius: 50%;
  height: 98.8%;
  box-shadow: var(--boxShadow);
}
#name,
section > h2 {
  background-image: var(--orangeGradient);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.avos {
  color: var(--blue);
  font-weight: bold;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
  box-shadow: var(--boxShadow);
  width: 90%;
  border-radius: 0.15rem;
  padding: 0.75rem 0;
}
section > h2 {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}
ol > li {
  width: 100%;
  display: grid;
  grid-template-columns: 0.75fr 1.1fr 0.15fr;
  padding: 0.25rem;
  margin: 0.5rem 0;
  align-items: center;
  column-gap: 0.75rem;
}
ol > li > ul > li {
  margin: 0.25rem 0;
}
h3 {
  color: #444;
  display: flex;
  font-size: 1rem;
}
.curly {
  color: var(--blue);
}
.big-btn {
  transition: all 0.3s ease;
  margin-bottom: 1.75rem;
}
.big-btn > a {
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 0.75rem 1.25rem;
  border-radius: 0.15rem;
  box-shadow: var(--dBoxShadow);
}
.show{
  animation: 2.75s;
}
@media (min-width: 800px) {
  .hero {
    margin-top: 3rem;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }
  h1 {
    font-size: 2.25rem;
  }
  .info {
    display: inline;
  }
  .info > h1,
  .info > p {
    text-align: left;
  }
  section {
    width: 66%;
  }
  ol {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  ol > li {
    display: flex;
    flex-direction: column;
  }
  .slide {
    animation-name: slide;
    animation-timing-function: ease-in-out;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(0);
      transform: translateX(5rem);
    }
    30% {
      transform: translateY(-2.5rem);
    }
    50% {
      transform: translateY(0.5rem);
    }
    70% {
      
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .slide-text{
    animation-name: slide-text;
    animation-timing-function: ease-in-out;
  }
  @keyframes slide-text {
    0% {
      opacity: 0;
      transform: translateY(0);
      transform: translateX(-8rem);
    }
    30% {
      transform: translateY(2.5rem);
    }
    50% {
      transform: translateY(0.5rem);
    }
    70% {
      
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .show{
    animation-name: show;
    animation-timing-function: ease-in-out;
  }
  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(8rem);
      transform: translateX(0);
    }
    30% {
      transform: translateY();
    }
    50% {
      transform: translateY(2rem);
    }
    70% {
      transform: translateY(0);
    }
    100% {
      opacity: 1;
    }
  }
}
