.modal {
  width: 94%;
  background-color: var(--white);
  border-radius: 0.15rem;
  box-shadow: var(--dBoxShadow);
  margin: 1rem auto;
}
.img {
  height: 21rem;
  width: 100%;
  background-image: url(../img/joyce-mccown-gpiKdZmDQig-unsplash.jpg);
  background-size: cover;
  border-radius: 0 0 0.15rem 0.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-area {
  margin: 2.25rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.form-area > h2 {
  background-image: var(--orangeGradient);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.form-area > p {
  color: #444;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
@media (min-width: 700px) {
  .modal {
    width: 50rem;
    min-width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2.5rem auto;
  }
  .img {
    height: 30rem;
    border-radius: 0.15rem 0 0 0.15rem;
  }
  .form-area {
    gap: 1.75rem;
  }
  form {
    gap: 2rem;
  }
}
