.modal {
  display: flex;
  flex-direction: column;
  width: 94%;
  background-color: var(--white);
  border-radius: 0.15rem;
  box-shadow: var(--dBoxShadow);
  margin: 1rem auto;
  align-items: center;
}
.form-area {
  width: 100%;
  margin: 2.25rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
h2 {
  background-image: var(--orangeGradient);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 0;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  margin-top: 1rem;
}
.formal {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
select {
  align-self: center;
  width: 130%;
  padding: 0.65rem;
  outline: none;
  width: 143%;
  border: 0.1rem solid var(--blue);
  background-color: var(--white);
}
@media (min-width: 700px) {
  .modal {
    width: 50rem;
    min-width: 30rem;
    height: 30rem;
    margin: 2.5rem auto;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
