@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600;700&display=swap");
:root {
  --blackish: #222;
  --white: #fff;
  --offwhite: rgb(245, 245, 245);
  --blue: #0058e6;
  --dblue:  #0051d3;
  --orangeGradient: linear-gradient(
    90deg,
    #ff870f 43%,
    rgba(255, 117, 31, 1) 53%,
    #ff8d1d 61%,
    #0058e6 72%,
    #0058e6 81%,
    rgba(82, 149, 237, 1) 83%,
    #1e90ff 90%,
    #0058e6 100% );
  --boxShadow: 0 1px 6px 0 rgba(215, 215, 216, 0.28);
  --dBoxShadow: 0 1px 6px 0 rgba(161, 162, 165, 0.28);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--offwhite);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header {
  background-color: var(--white);
  width: 100%;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
}
#logo-id {
  background-image: var(--orangeGradient);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--blue);
  overflow: hidden;
  max-height: 0;
  top: 5rem;
  transition: 0.5s ease-out;
}
.nav-links a {
  display: block;
  padding: 2rem;
  color: var(--white);
}
.nav-links a:hover {
  background-color: var(--white);
  color: var(--blue);
  font-weight: bold;
}
.hamb {
  padding: 1rem 0.5rem;
  cursor: pointer;
  float: right;
  margin-right: 1.5rem;
}
.hamb-line {
  background: var(--blue);
  display: block;
  height: 0.1rem;
  position: relative;
  width: 1.5rem;
}
.hamb-line::before,
.hamb-line::after {
  background: var(--blue);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 0.5rem;
}
.hamb-line::after {
  top: -0.5rem;
}
.side-menu {
  display: none;
}
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: var(--blackish);
}
input,
textarea {
  padding: 0.65rem;
  outline: none;
  border: 0.1rem solid var(--blue);
  border-radius: 0.15rem;
  align-self: center;
  width: 130%;
}
button {
  border: none;
  padding: 0.75rem 1.65rem;
  cursor: pointer;
  align-self: center;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  border-radius: 0.15rem;
  width: 143%;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}
button:hover {
  background-color: var(--dblue);
}
.big-btn:active,
button:active {
  transform: translateY(0.5rem);
}
footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  min-height: 5rem;
  background: var(--blue);
  color: var(--white);
  box-shadow: var(--dBoxShadow);
}
.socials {
  font-size: 1.75rem;
}
.fa-brands{
  cursor: pointer;
}
.company {
  font-size: 0.9rem;
  font-weight: 400;
}
@media (min-width: 760px) {
  .side-menu {
    display: none;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white);
    align-items: center;
  }
  #logo-id {
    margin: 0;
  }
  .nav {
    width: fit-content;
    position: relative;
    overflow: visible;
    max-height: initial;
    transition: none;
    background-color: inherit;
    margin-top: 0;
    top: 0;
  }
  .hamb {
    display: none;
  }
  .nav > ul {
    display: flex;
    margin: auto;
  }
  .nav > ul > li > a {
    text-decoration: none;
    color: var(--blue);
    font-size: 0.85rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
  }
  .big-btn > a:hover,
  .nav > ul > li > a:hover {
    background-image: var(--orangeGradient);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    text-decoration: none;
  }
  #box {
    background-color: var(--blue);
    border-radius: 0.15rem;
    box-shadow: var(--boxShadow);
  }
  #box:hover {
    background-color: var(--white);
  }
  #box > a {
    text-decoration: none;
    color: var(--white);
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
